<!DOCTYPE html>
<html>
<head>
  <title>VeloCartographer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.GOOGLE_MAPS_API_KEY = <%= ENV['GOOGLE_MAPS_API_KEY'] %>
  </script>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
