<!DOCTYPE html>
<html>
<head>
  <title>VeloCartographer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <ul>
    <li><%= button_to "Logout", session_url, method: :delete %></li>
  </ul>
<% else %>
  <li><%= link_to "Create New User!", new_api_user_url %></li>
  <li><%= link_to "Sign in!", new_session_url %></li>
  <br><br>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
