<!DOCTYPE html>
<html>
<head>
  <title>VeloCartographer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'bike.png' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script type="text/javascript">
    window.GOOGLE_KEYS = {
      GOOGLE_MAPS: "<%= ENV['GOOGLE_MAPS_API_KEY'] %>",
      GOOGLE_ROAD: "<%= ENV['GOOGLE_MAPS_ROAD_KEY'] %>"
    }
  </script>

  <script src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}" %>"
          charset="utf-8">
  </script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart']});
      google.charts.setOnLoadCallback();
  </script>
</head>
<body>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <div class="error-messages">
    <% if flash[:errors] %>
      <%= flash[:errors].join(', ') %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
